.notes-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
    width: 100%;
    min-height: 80%;
    margin: auto;
    background-color: var(--secondary-background-color);
    border-radius: 30px;
    padding: 30px 50px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.notes-list::-webkit-scrollbar {
    width: 10px;
    background-color: var(--main-background-color);
    position: relative;
    right: 10px;
    border-radius: 10px;
}

.notes-list::-webkit-scrollbar-thumb {
    background-color: var(--main-text-color);
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .notes-list {
        width: 100%;
        padding: 10px;
        margin: 0;
    }
    
}